	@import "bourbon/bourbon";
	$font:'Myriad Pro',
	sans-serif;
	$colorh1: #012851;
	$tahoma: 'Tahoma',
	sans-serif;
	* {
		margin: 0;
		padding: 0;
	}

	html,
	body {
		font-family: 'Myriad Pro', sans-serif;
		font-weight: normal;
		font-size: 16px;
		color: #000;
		min-width: 100%;
		line-height: 1.42857;
		owerflow-x: hidden;
		background-color: #e3e3e4;
	}

	.wrapper {
		position: relative;
		min-height: 100%;
	}

	.header {
		width: 888px;
		min-height: 150px;
		text-align: center;
		margin-left: 200px;
		margin: 0 auto;
		margin-bottom: 32px;
		.logo {
			display: inline-block;
			width: 81px;
			height: 89px;
			position: relative;
			margin-top: 37px;
		}
		.text_head {
			display: inline-block;
			position: relative;
			line-height: 0px;
			vertical-align: top;
			width: 568px;
			margin-left: 45px;
			text-align: right;
			top: 43px;
			line-height: 25px;
			h2 {
				font-size: 16px;
				display: inline-block;
				font-weight: normal;
			}
			h1 {
				font-size: 22px;
			}
		}
		.cont_p {
			display: inline-block;
			width: 170px;
			float: right;
			min-height: 110px;
			position: relative;
			background-color: #b0b0b0;
			border-radius: 0 0 5px 5px;
			color: #fff;
			line-height: 25px;
			margin-left: 20px;
			text-align: right;
			a {
				color: #fff;
				padding-right: 10px;
				font-size: 12px;
			}
			a:hover {
				color: $colorh1;
			}
			h4 {
				padding-top: 50px;
				font-size: 14px;
				display: inline-block;
				font-weight: normal;
			}
			h3 {
				font-size: 24px;
				display: inline-block;
				padding-left: 2px;
				font-weight: normal;
				padding-right: 5px;
			}
		}
	}

nav {
	height: 46px;
	background: #004a99;
	@include linear-gradient(to bottom, rgba(99,174,254,1) 0%, rgba(2,60,123,0.93) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64aefe', endColorstr='#023c7b', GradientType=0 );
	border-top: 1px solid #004a99;
	@include box-sizing(border-box);
    display: block;
}

.nav_container {
	width: 888px;
	margin: 0 auto;
}

.nav_menu {
	list-style: none;
	padding: 0;
	margin: 0 0 0 -30px;
	float: left;
}

.nav_menu > li {
	position: relative;
	float: left;
	font-size: 18px;
	background: url("../img/menu_r.png") no-repeat center left;
}

.nav_menu > li:first-child {
	background: none;
}

.nav_menu > li > a {
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 11px 28px 12px 29px;
	@include box-sizing(border-box);
	height: 45px;
	border-bottom: 1px solid #004a99;
}

.nav_menu li:hover + li,
.nav_menu .nav_item_active + li {
	background: none;
}

.nav_menu li:hover > a,
.nav_menu .nav_item_active > a {
	background: #fdca03;
	color: #000;
}

.nav_item_active.nav_item_sub_opener > a:after {
    @include triangle(5px, #000, right);
}

.nav_submenu {
	display: none;
	position: absolute;
	top: 47px;
	list-style: none;
	padding: 0;
	margin: 0;
	background: #004a99;
	border: 1px solid #004a99;
	z-index: 999;
}

.nav_submenu:before {
	content: " ";
	top: -3px;
	left: -1px;
	right: -1px;
	position: absolute;
	border: 1px solid transparent;
}

.nav_submenu > li {
	background: url("../img/submenu_bottom.png") no-repeat top center;
}

.nav_submenu > li:first-child {
	background: none;
}

.nav_submenu a {
	display: block;
	text-decoration: none;
	color: #fff;
	font-size: 13px;
	padding: 9px;
}

.nav_menu > li:hover .nav_submenu {
	display: block;
}

.nav_item_sub_opener {
	position: relative;
}


.nav_item_sub_opener:hover > a:after {
	content: " ";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url("../img/r_hover.png") no-repeat right 5px center;
}

.nav_item_sub_opener a {
	padding-right: 20px;
}

.nav_subsubmenu {
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: -1px;
    @include calc(left, "100% + 2px");
	background: #004a99;
	border: 1px solid #004a99;
	z-index: 999;
	width: 210px;
}

.nav_subsubmenu:before {
	content: " ";
	top: -1px;
	bottom: -1px;
	left: -3px;
	position: absolute;
	border: 1px solid transparent;
}

.nav_item_sub_opener:hover .nav_subsubmenu {
	display: block;
}

.nav_subsubmenu li {
	background: url("../img/smenu_border_bott.png") no-repeat top center;
}

.nav_subsubmenu li:first-child {
	background: none;
}

.search_form {
	border: 1px solid #fff;
	border-radius: 10px;
	height: 19px;
	width: 171px;
	margin-top: 13px;
    margin-right: 5px;
	@include box-sizing(border-box);
	float: right;
	padding: 0 7px;
}

.search_form input {
	background: transparent;
	height: 17px;
	width: 138px;
	border: none;
	font-size: 12px;
	outline: none;
	color: #fff;
	padding: 0;
	position: absolute;
}

.search_form button {
	margin: 0;
	float: right;
	height: 17px;
	width: 17px;
	background: url("../img/magnifier.png") no-repeat center center;
	border: none;
	outline: none;
	box-shadow: -3px 0 0 -2px #fff;
}

.search_form ::-webkit-input-placeholder {
	color: #fff;
}

.search_form :-moz-placeholder {
	color: #fff;
	opacity: 1;
}

.search_form ::-moz-placeholder {
	color: #fff;
	opacity: 1;
}

.search_form :-ms-input-placeholder {
	color: #fff;
}

input:focus::-webkit-input-placeholder {
	color: transparent;
}

input:focus:-moz-placeholder {
	color: transparent;
}

input:focus::-moz-placeholder {
	color: transparent;
}

input:focus:-ms-input-placeholder {
	color: transparent;
}
	.content {
		padding-bottom: 232px;
		width: 888px;
		margin: 0 auto;
		box-sizing: border-box;
		.main_content {
			padding: 37px 0 0 0;
			margin-bottom: 20px;
			@include box-sizing(border-box);
			display: inline-block;
			max-height: 100%;
			.content_stat {
				width: 612px;
				font-family: $tahoma;
				font-size: 14px;
				display: inline-block;
				position: relative;
				float: left;
				.header_img {
					background: url(../img/fgbu_head.jpg) no-repeat;
					height: 278px;
					width: 607px;
					margin-bottom: 27px;
					border: 1px #bdbdbe solid;
				}
				p {
					margin: 0;
					padding-bottom: 10px;
					text-indent: 30px;
					line-height: 18px;
				}
			}
			.news {
				width: 241px;
				min-height: 500px;
				border: 1px #bdbdbe solid;
				border-radius: 5px;
				margin-right: 32px;
				float: left;
				position: relative;
				.header_news {
					position: relative;
					width: 241;
					height: 44px;
					background-color: #fdca03;
					border-bottom: 1px #bdbdbe solid;
					h1 {
						margin: 0;
						padding: 0 0 0 14px;
						font-family: $font;
						font-size: 18px;
						line-height: 44px;
						color: $colorh1;
						font-family: $font;
						font-weight: normal;
					}
				}
				.news_text {
					padding: 17px 7px 20px 13px;
					width: 203px;
					min-height: 95px;
					h2 {
						font-family: $tahoma;
						padding: 0 0 11px 0;
						margin: 0;
						line-height: 5px;
						font-size: 12px;
						text-transform: uppercase;
						font-weight: bold;
					}
					p {
						font-size: 12px;
						margin: 0;
						font-weight: normal;
						padding: 0 0 20px 0;
					}
					h5 {
						margin: 0;
						padding: 0 0 11px 0;
						color: #707273;
						font-size: 12px;
						font-family: $tahoma;
						font-weight: normal;
					}
					a {
						color: #000000;
						text-decoration: none;
						font-size: 12px;
						font-family: $tahoma;
						margin-bottom: 0;
						padding-bottom: 0;
					}
					a:hover {
						text-decoration: underline;
					}
					a:active {
						color: #000000;
					}
				}
			}
		}
	}
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 232px;
	background-color: #b0b0b0;
	.container {
		margin: 0 auto;
		width: 888px;
		padding-top: 10px;
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			font-size: 11px;
			float: left;
			line-height: 16px;
			margin-bottom: 0;
			font-family: 'Tahoma', sans-serif;
			li {
				font-size: 11px;
				color: #fff;
				line-height: 16px;
				a {
					color: #fff;
				}
				a:active {
					color: #fff;
				}
				a:hover {
					color: #012851;
				}
			}
		}
		h4 {
			font-family: 'Tahoma', sans-serif;
			font-weight: normal;
			font-size: 14px;
			line-height: 16px;
			margin-bottom: 0px;
			padding-bottom: 7px;
			a {
				color: #012851 !important;
				text-decoration: none;
			}
			a:hover {
				text-decoration: underline;
				color: #012851;
			}
			a:active {
				color: #012851;
			}
		}
	}
	.block_2 {
		position: relative;
		left: 30px;
		ul {
			left: 20px;
		}
		.sub_menu {
			padding-left: 20px;
		}
		.sub_sub_menu {
			padding-left: 35px;
		}
	}
	.block_3 {
		position: relative;
		left: 60px;
		ul {
			left: 20px;
		}
		.sub_menu {
			padding-left: 20px;
		}
		.sub_sub_menu {
			padding-left: 35px;
		}
	}
	.g_menu_footer {
		display: inline-block;
		float: right;
		right: 0;
		left: 20px;
		ul {
			padding: 0;
			position: relative;
			li {
				display: inline;
				margin-right: 5px;
				padding: 3px;
				font-family: 'Tahoma', sans-serif;
				font-weight: normal;
				font-size: 14px;
				line-height: 16px;
				margin-bottom: 0px;
				padding-bottom: 7px;
				padding-left: 18px;
				a {
					color: #012851 !important;
					text-decoration: none;
				}
				a:hover {
					text-decoration: underline;
					color: #012851;
				}
				a:active {
					color: #012851;
				}
			}
		}
	}
	.copyright {
		position: relative;
		margin-top: 200px;
		width: 250px;
		height: 20px;
		.copy {
			font-family: 'Tahoma', sans-serif;
			position: absolute;
			bottom: 0;
			left: 50px;
			min-width: 100%;
			heigth: 200px;
			font-size: 11px;
			float: right;
			color: #fff;
		}
	}
}
